.whatsApp{
    font-size: 40px;
    color: white;
    background-color: #00de4c;
    border-radius: 28px 28px 30px 28px;
    padding: 6px 6px 0px 6px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    border: none;
    cursor: pointer;
}
