.displayContainer{
    display: flex;
    flex-direction: column;
}

.displayImagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.strong{
    display: block;
}


.texto{
    margin: 0;
    font-size: 20px;
    padding: 10px 20px;
    text-align: left;
    color: #0d1b2a;
    background-color: #e7e7e7;
}

.horizontal{
    margin-bottom: -3px;
}

.imagen1Nosotos{
    background-image: url("/nosotros/imagen1.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vw;
    display: flex;  
    align-items: center;
}

.imagen2Nosotos{
    background-image: url("/nosotros/imagen2.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vw;
    display: flex;  
    align-items: center;
}

.imagen3Nosotos{
    background-image: url("/nosotros/imagen3.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vw;
    display: flex;  
    align-items: center;
}

.imagen4Nosotos{
    background-image: url("/nosotros/imagen4.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vw;
    display: flex;  
    align-items: center;
}

.containerTexto{    
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    padding: 0 10px;
    margin: 10px;
}

.textoImagen{
    color: rgba(255, 255, 255, 1);
}

@media(min-width:550px){
    .imagen1Nosotos{
        width: 49.4vw;
        height: 49.4vw;
    }
    .imagen2Nosotos{
        width: 49.4vw;
        height: 49.4vw;
    }
    .imagen3Nosotos{
        width: 49.4vw;
        height: 49.4vw;
    }
    .imagen4Nosotos{
        width: 49.4vw;
        height: 49.4vw;
    }
}
@media(min-width:990px){
    .textoImagen{
        font-size: 20px;
    }
}