html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
main{
  background-color: #778da9  ;
  text-align: -webkit-center;
}

h2{
  margin: 0;
  margin-top: -5px;
  color: #1b263b;
  text-transform: uppercase;
  text-align: center;
  background-color: #778da9;
  padding: 10px 0;
  box-shadow: 0px 4px 20px 0px black;
  scroll-margin: 80px;
}

#nostros{
  margin-top: 50px;
  margin-bottom: 1px;
  margin-bottom: 2px;
}

#nosotrosEmpresa{
  margin-top: 0;
  margin-bottom: 1px;
  margin-bottom: -8px;
}

#soluciones {
  margin: -5px 0 2px 0;
}

#modelos {
  margin: 2px 0;
}


#productos {
  margin: 2px 0;
}

#marcas {
  margin-top: 10px;
}

/* EMPRESAS */
.colorFondo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#778da9 ;
  padding: 20px 0;
}
.imagenFondoNosotros{
  background-image: url("/mag/fondo.png");
  background-size: cover;
  width: 100vw;
  padding: 10px;
  max-width: 700px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 20px 5px black;
}

.containerTextoNosotros {
  background-color: black;
  opacity: 0.7;
  padding: 10px;
  margin: 10px;
}

.textoNosotros {
  color: white;
  font-size: 14px;
}
@media(min-width:480px){
  .imagenFondoNosotros{
    padding: 20px;
    height: 300px;
  }
  .containerTextoNosotros {
  }
  .textoNosotros{
    font-size: 16px;
  }
}

/* SOLUCIONES MAGNANI*/

.displayImagenesSoluciones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.imagenSoluciones1{
  background-image: url("/mag/soluciones1.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenSoluciones2{
  background-image: url("/mag/soluciones2.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenSoluciones3{
  background-image: url("/mag/soluciones3.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenSoluciones4{
  background-image: url("/mag/soluciones4.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenSoluciones5{
  background-image: url("/mag/soluciones5.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.containerTextoSoluciones{
  background-color: black;
  opacity: 0.7;
  padding: 10px;
  margin: 10px;
}

.itemsSoluciones {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width:550px) {
  .displayImagenesSoluciones{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imagenSoluciones1{
    width: 50vw;
    height: 50vw;
  }
  .imagenSoluciones2{
    width: 50vw;
    height: 50vw;
  }
  .imagenSoluciones3{
    width: 50vw;
    height: 50vw;
  }
  .imagenSoluciones4{
    width: 50vw;
    height: 50vw;
  }
  .imagenSoluciones5{
    width: 50vw;
    height: 50vw;
  }
}
@media (min-width:1100px) {
  .imagenSoluciones1{
    width: 33.3vw;
    height: 33.3vw;
  }
  .imagenSoluciones2{
    width: 33.3vw;
    height: 33.3vw;
  }
  .imagenSoluciones3{
    width: 33.3vw;
    height: 33.3vw;
  }
  .imagenSoluciones4{
    width: 50vw;
    height: 50vw;
  }
  .imagenSoluciones5{
    width: 50vw;
    height: 50vw;
  }
}
@media (min-width:1300px) {
  .imagenSoluciones1{
    width: 20vw;
    height: 20vw;
  }
  .imagenSoluciones2{
    width: 20vw;
    height: 20vw;
  }
  .imagenSoluciones3{
    width: 20vw;
    height: 20vw;
  }
  .imagenSoluciones4{
    width: 20vw;
    height: 20vw;
  }
  .imagenSoluciones5{
    width: 20vw;
    height: 20vw;
  }
}

/* PRODUCTOS MAGNANI*/

.displayImagenesProductos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.imagenProductos1{
  background-image: url("/mag/productos1.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenProductos2{
  background-image: url("/mag/productos2.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenProductos3{
  background-image: url("/mag/productos3.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.imagenProductos4{
  background-image: url("/mag/productos4.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.containerTextoProductos{
  background-color: black;
  opacity: 0.7;
  padding: 10px;
  margin: 10px;
}

.itemsProductos {
  color: white;
  font-size: 14px;
  font-weight: 600;
}
@media (min-width:550px) {
  .displayImagenesProductos{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .imagenProductos1{
    width: 50vw;
    height: 50vw;
  }
  .imagenProductos2{
    width: 50vw;
    height: 50vw;
  }
  .imagenProductos3{
    width: 50vw;
    height: 50vw;
  }
  .imagenProductos4{
    width: 50vw;
    height: 50vw;
  }
}
@media (min-width:1100px) {
  .imagenProductos1{
    width: 50vw;
    height: 50vw;
  }
  .imagenProductos2{
    width: 50vw;
    height: 50vw;
  }
  .imagenProductos3{
    width: 50vw;
    height: 50vw;
  }
  .imagenProductos4{
    width: 50vw;
    height: 50vw;
  }
}
@media (min-width:1300px) {
  .imagenProductos1{
    width: 25vw;
    height: 25vw;
  }
  .imagenProductos2{
    width: 25vw;
    height: 25vw;
  }
  .imagenProductos3{
    width: 25vw;
    height: 25vw;
  }
  .imagenProductos4{
    width: 25vw;
    height: 25vw;
  }
  .imagenProductos5{
    width: 25vw;
    height: 25vw;
  }
}

/* BURGER MENU */

.burgerMenu1{
  display: block;
}

.burgerBtn{
  font-size: 30px;
  color: white;
  list-style: none;
  position: absolute;
  right: 30px;
  top: 23px;
}

#itemsListBurger {
  width: 100vw;
  height: 250px;
  z-index: 99;
  background-color: rgb(13, 27, 42);
  list-style: none;
  color: white;
  padding: 15px;
  position: absolute;
  left: 0;
  top: -1000px;
}

.openMenu{
  top: 79px;
}

.itemsBurger {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 600;
}


/* SLIDER */

.slider{
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 20px 0px black;
  margin-bottom: 5px;
}

.right-arrow{
  position: absolute;
  right: 1%;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  transition: all 1s;
}

.left-arrow{
  position: absolute;
  font-size: 35px;
  left: 1%;
  color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  cursor: pointer;
  transition: all 1s;
}



.slide{
  opacity: 0;
  transition: all 1s;
}

.slide-active{
  opacity: 1;
}

.slide-active{
  position: relative;
  top: 2px;
}


@media(min-width:679px){
  .burgerMenu1{
      display: none;
  }
}
@media(min-width:990px){
  .left-arrow:hover{
    color: #000;
  }
  .right-arrow:hover{
    color: #000;
  }
}

